<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      <img src="assets/imgs/logo-full.png" height="43">
      </ion-title>      
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let cat of listCategory" (click)="passarInfo(cat.id)" routerLink="/list-product" routerDirection="forward">

        <img [src]="cat.imagePath" />
        <div class="card-title">{{cat.name}}</div>
        <div class="card-subtitle">{{cat.about}}</div>
    
</ion-card>
</ion-content>
